<a href="/posts/index">처음화면으로</a>
<h2>로그인하기</h2>
<form action="/sessions/create" method="POST">
    <input type="email" name="email" placeholder="이메일">
    <input type="password" name="password" placeholder="비밀번호">
    <input type="submit" value="로그인">
    
</form>