<a href="/posts/index">처음화면으로</a>
<form action="/posts/update/<%=@post.id%>" method="POST">
    <input type="text" name="post_title" value="<%= @post.title %>">
    <br>
    <input type="text" name="post_content" value="<%=@post.content %>">
    <br>
    <input type="submit" value="수정완료!">
</form>