<h2>아무말 상세보기</h2>
<a href="/posts/index">처음화면으로</a>

<h3><%=@post.title%></h3>
<hr>
<%=@post.content%>

<hr>
<h5>아무말엔 아무말로 대답해주기!</h5>
<form action="/comments/create" method="POST">
    <input type="hidden" name="post_id" value="<%=@post.id%>">
    <input type="text" name="comment_content" placeholder="내용">
<br>
    <input type="submit" value="작성!">
</form>

    
<hr>

<h4>아무말의 아무말</h4>
<% @comments.each do |c| %>
    <p>- <%= c.content %></p>

<% end %>


